<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto shadow rounded p-3 text-center">
            A session in tabletop RPGs is a single gaming meetup where players gather to continue their ongoing campaign story, typically lasting a few hours and focusing on specific adventures or plot developments.
            During a session, players control their characters, make decisions, interact with the game world, and progress through challenges set by the game master.
        </div>
    </div>
</div>