<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto shadow rounded p-3 text-center">
            A campaign in classic RPGs is an ongoing storytelling adventure where players create characters and navigate through a series of connected challenges and narrative arcs. 
            The game master designs and guides the campaign, which typically spans multiple gaming sessions and allows characters to develop and grow. 
            Players' collective choices and actions shape the unfolding story, creating a dynamic and interactive storytelling experience.
        </div>
    </div>
</div>